/*
Created by Shivam Ramkisoen
Copyright 2015 for Information Technology
First used: Charles P. Thacker
*/

@media only screen and (max-width : 1124px) {
  .hide-ipad-and-down {
    display: none !important; } }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      main {
        flex: 1 0 auto;
      }
